@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 1300px;
  margin: auto;

  &--fluid {
    width: 100%;
  }
}

.header {


  &__secs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0px;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__calender {
    display: flex;
    color: #545E69;
  }

  &__sign-in {
    display: flex;
    column-gap: 8px;
    color: #545E69;
  }

  &__btn {

    button {
      color: white;
      font-size: 14px;
      padding: 14px 26px 15px 27px;
      border: none;
      border-radius: 4px;
      background-color: #F4796C;

    }
  }
}

.main-menu {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

  .main-nav {

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__humburger {

      .fa-solid.fa-bars {
        font-size: 30px;
        color: #545E69;
        border: 1px solid #D9D9D9;
        padding: 21px 17px;
      }
    }

    &__nav {

      ul {
        display: flex;
        align-items: center;
        column-gap: 42px;

        select {
          border: none;
          font-size: 16px;
          color: #183354;

        }

        li {
          list-style: none;
        }

        a {

          text-decoration: none;
          color: #183354;

        }
      }
    }

    &__search {
      display: flex;
      align-items: center;
      gap: 72px;
      color: rgba(84, 94, 105, 1);

      p {
        font-size: 14px;
      }
    }
  }

}

.hero-banner-container {

  &__hero-banner-sections {
       margin-top: 50px;
    &__section1 {

      &__posts {

        display: flex;
        column-gap: 20px;

        &__left {

          &__left-posts{
            border-right:  1px solid #DFDFDF;
            padding-right: 19px;

          }
        }

        &__post-01 {

          border-bottom: 1px solid #DFDFDF;

          img {
            margin-bottom: 15px;
          }

          p {
            font-size: 13px;
            color: #6D757F;
          }

          h4 {
            color: #183354;
            font-size: 18px;
            margin-top: 13px;
            margin-bottom: 15px;
          }

          &__user {
            display: flex;
            column-gap: 15px;
            margin: 11px 0px 26px 0px;

            &__profile {
              display: flex;
              column-gap: 5px;
              color: #6D757F;
            }

            &__date {
              display: flex;
              color: #6D757F;
            }
          }
        }

        &__post-02 {

          img {
            margin-top: 25px;
            margin-bottom: 12px;
          }

          p {
            font-size: 13px;
            color: #6D757F;
          }

          h4 {
            margin-top: 15px;
            color: #183354;
            font-size: 18px;
            margin-bottom: 15px;

          }
        }

        &__mid {
          
          img{
            margin-bottom: 23px;
          }
          p {
            color: #6D757F;
            text-align: center;
            
          }

          h2 {
            text-align: center;
            margin-top: 13px;
            margin-bottom: 20px;
            font-size: 28px;
          }

          &__icons {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 15px;
            margin-bottom: 15px;

            &__user {
              display: flex;
              column-gap: 5px;
              color: #6D757F;
            }

            &__time {
              display: flex;
              column-gap: 5px;
              color: #6D757F;
            }

            &__date {
              display: flex;
              column-gap: 5px;
              color: #6D757F;
            }
          }
        }

        &__right{
          &__cards{
            border-left: 1px solid #DFDFDF;
            padding-left: 19px;
            margin-top: 40px;

            &__card1{
              border-bottom: 1px solid #DFDFDF;

             h3{
                margin-top: 14px;
              }
            }

            &__card{
               
              &__image{
                display: flex;
                align-items: center;
                justify-content: space-between;

                p{
                  font-size: 17px;
                  color: #183354;
                }

                img{
                  border-radius: 50%;
                  width: 70px;
                }
              }

              &__date{
                display: flex;
                align-items: center;
                column-gap: 5px;
                color: #6D757F;
                padding-bottom: 26px;
              }
            }

            &__card2{
              border-bottom: 1px solid #DFDFDF;
              span{
                font-size: 13px;
                color: #6D757F;
                display: inline-block;
                padding-top: 26px;
              }

              &__date{
                display: flex;
                align-items: center;
                column-gap: 5px;
                color: #6D757F;
                padding-bottom: 26px;
              }
            }

             &__card3{
              border-bottom: 1px solid #DFDFDF;
              span{
                font-size: 13px;
                color: #6D757F;
                display: inline-block;
                padding-top: 26px;
              }
            }
            
             &__card4{
              span{
                font-size: 13px;
                color: #6D757F;
                display: inline-block;
                padding-top: 26px;
              }
            }
          }
        }
      }
    }
  }
}