@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 1300px;
  margin: auto;

  &--fluid {
    width: 100%;
  }
}

.header {


  &__secs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0px;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__calender {
    display: flex;
    color: #545E69;
  }

  &__sign-in {
    display: flex;
    column-gap: 8px;
    color: #545E69;
  }

  &__btn {

    button {
      color: white;
      font-size: 14px;
      padding: 14px 26px 15px 27px;
      border: none;
      border-radius: 4px;
      background-color: #F4796C;

    }
  }
}

.main-menu {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

  .main-nav {

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__humburger {

      .fa-solid.fa-bars {
        font-size: 30px;
        color: #545E69;
        border: 1px solid #D9D9D9;
        padding: 21px 17px;
      }
    }

    &__nav {

      ul {
        display: flex;
        align-items: center;
        column-gap: 42px;

        select {
          border: none;
          font-size: 16px;
          color: #183354;

        }

        li {
          list-style: none;
        }

        a {

          text-decoration: none;
          color: #183354;

        }
      }
    }

    &__search {
      display: flex;
      align-items: center;
      gap: 72px;
      color: rgba(84, 94, 105, 1);

      p {
        font-size: 14px;
      }
    }
  }

}

.hero-banner-container {

  &__hero-banner-sections {
    margin-top: 50px;

    &__section1 {
      display: flex;
      justify-content: space-between;

      &__posts {

        &__last-image {
          margin-top: 50px;
        }

        &__top-posts {
          display: flex;
          column-gap: 20px;

          &__left-posts {
            &__items {
              border-right: 1px solid #DFDFDF;
              padding-right: 19px;

            }
          }

          &__mid {
            img {
              margin-bottom: 25px;
            }

            p {
              color: #6D757F;
              text-align: center;

            }

            h2 {
              text-align: center;
              margin-top: 13px;
              margin-bottom: 20px;
              font-size: 28px;
            }

            &__icons {
              display: flex;
              justify-content: center;
              align-items: center;
              column-gap: 15px;
              margin-bottom: 15px;

              &__user {
                display: flex;
                column-gap: 5px;
                color: #6D757F;
              }

              &__time {
                display: flex;
                column-gap: 5px;
                color: #6D757F;
              }

              &__date {
                display: flex;
                column-gap: 5px;
                color: #6D757F;
              }
            }
          }
        }

        &__post-01 {

          border-bottom: 1px solid #DFDFDF;

          img {
            margin-bottom: 15px;
          }

          p {
            font-size: 13px;
            color: #6D757F;
          }

          h4 {
            color: #183354;
            font-size: 18px;
            margin-top: 13px;
            margin-bottom: 15px;
          }

          &__user {
            display: flex;
            column-gap: 15px;
            margin: 11px 0px 26px 0px;

            &__profile {
              display: flex;
              column-gap: 5px;
              color: #6D757F;
            }

            &__date {
              display: flex;
              color: #6D757F;
            }
          }
        }

        &__post-02 {

          img {
            margin-top: 25px;
            margin-bottom: 12px;
          }

          p {
            font-size: 13px;
            color: #6D757F;
          }

          h4 {
            margin-top: 15px;
            color: #183354;
            font-size: 18px;
            margin-bottom: 15px;

          }
        }

        &__mid-img {
          margin: 50px 0px;
        }

        &__last-posts {

          &__head {
            display: flex;
            column-gap: 10px;
            align-items: center;
            margin-bottom: 20px;

            img {
              width: 870px;
            }

          }

          &__sections {

            display: flex;
            justify-content: space-between;
          }


          &__last-post-01 {

            &__items {

              &__left {
                display: flex;
                column-gap: 28px;

                &__post2 {
                  margin-top: 40px;

                  p {
                    color: #6D757F;
                  }

                  h3 {
                    font-size: 18px;
                    color: #183354;
                    margin-top: 10px;
                    margin-bottom: 14px;
                  }

                  &__icons {
                    display: flex;
                    column-gap: 10px;
                    margin-bottom: 14px;
                  }

                  span {
                    display: inline-block;
                    border: 1px solid #CFCFCF;
                    padding: 10px 13px 11px 18px;
                    margin-top: 18px;
                  }
                }
              }
            }
          }

          &__last-post-02 {

            &__right {
              border-left: 1px solid #CFCFCF;
              padding-left: 24px;

              &__01 {
                border-bottom: 1px solid #DFDFDF;

                h3 {
                  margin-bottom: 10px;
                }

                .hero-banner-container__hero-banner-sections__section1__posts__top-posts__mid__icons__date {
                  margin-bottom: 18px;
                }
              }

              &__02 {
                border-bottom: 1px solid #DFDFDF;

                h3 {
                  margin-bottom: 10px;
                  margin-top: 15px;
                }

                .hero-banner-container__hero-banner-sections__section1__posts__top-posts__mid__icons__date {
                  margin-bottom: 18px;
                }
              }

              &__03 {

                h3 {
                  margin-bottom: 10px;
                  margin-top: 15px;
                }

                .hero-banner-container__hero-banner-sections__section1__posts__top-posts__mid__icons__date {
                  margin-bottom: 18px;
                }
              }
            }
          }

          &__hotspot-section {

            &__head {
              display: flex;
              align-items: center;
              color: 5px;
              margin-top: 50px;
              margin-bottom: 20px;
              column-gap: 10px;

              img {
                width: 760px;
              }
            }

            &__items {
              display: flex;
              justify-content: space-between;

              &__item-01 {

                img {
                  margin-bottom: 11px;
                }

                p {
                  color: #6D757F;

                }

                h3 {
                  color: #183354;
                  margin: 11px 0px;
                }

                border-right: 1px solid #DFDFDF;
                padding-right: 16px;
              }

              &__item-02 {

                img {
                  margin-bottom: 11px;
                }

                p {
                  color: #6D757F;

                }

                h3 {
                  color: #183354;
                  margin: 11px 0px;
                }

                border-right: 1px solid #DFDFDF;
                padding-right: 16px;
              }

              &__item-03 {

                img {
                  margin-bottom: 11px;
                }

                p {
                  color: #6D757F;

                }

                h3 {
                  color: #183354;
                  margin: 11px 0px;
                }
              }
            }
          }

        }

        &__right {
          &__cards {
            border-left: 1px solid #DFDFDF;
            padding-left: 19px;
            margin-top: 40px;

            &__card1 {
              border-bottom: 1px solid #DFDFDF;

              h3 {
                margin-top: 14px;
              }
            }

            &__card {

              &__image {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                  font-size: 17px;
                  color: #183354;
                }

                img {
                  border-radius: 50%;
                  width: 70px;
                }
              }

              &__date {
                display: flex;
                align-items: center;
                column-gap: 5px;
                color: #6D757F;
                padding-bottom: 26px;
              }
            }

            &__card2 {
              border-bottom: 1px solid #DFDFDF;

              span {
                font-size: 13px;
                color: #6D757F;
                display: inline-block;
                padding-top: 26px;
              }

              &__date {
                display: flex;
                align-items: center;
                column-gap: 5px;
                color: #6D757F;
                padding-bottom: 26px;
              }
            }

            &__card3 {
              border-bottom: 1px solid #DFDFDF;

              span {
                font-size: 13px;
                color: #6D757F;
                display: inline-block;
                padding-top: 26px;
              }
            }

            &__card4 {
              span {
                font-size: 13px;
                color: #6D757F;
                display: inline-block;
                padding-top: 26px;
              }
            }
          }
        }
      }

      &__slide-banner {

        &__cards {
          border-left: 1px solid #DFDFDF;
          padding-left: 19px;
          margin-top: 40px;

          &__offer-img {
            margin-top: 40px;
          }

          &__slide-cards {

            img {
              margin-bottom: 14px;
              margin-top: 40px;
            }

            &__card-01 {
              background-color: #F9F9F7;
              margin-top: 20px;

              &__contents {
                display: flex;
                column-gap: 15px;
                padding-top: 15px;

                h2 {
                  color: #C2C2C2;
                  font-size: 26px;
                  padding-left: 20px;
                }

                p {
                  color: #183354;
                  font-size: 17px;
                }
              }

              .hero-banner-container__hero-banner-sections__section1__posts__post-01__user__date {
                padding-left: 52px;
                padding-bottom: 23px;
                padding-top: 11px;

                display: flex;
              }
            }
          }
        }

      }
    }
  }

  &__last-image {
    padding-left: 180px;
    margin-top: 50px;
  }
}

.editor-container {
  margin-top: 50px;
  background-color: #F9F9F9;

  &__items {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  &__head {
    display: flex;
    justify-content: space-between;

    &__icons {


      .fa-solid {
        border: 1px solid #CFCFCF;
        border-radius: 4px;
        color: #F4796C;
        padding: 11px;
        margin-left: 5px;
      }
    }
  }

  &__border-img {
    img {
      width: 100%;
      margin-top: 20px;
    }


  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &__card-01 {
      border-right: 1px solid #DFDFDF;
      padding-right: 19px;

      img {
        margin-bottom: 11px;
      }

      p {
        color: #6D757F;

      }

      h3 {
        color: #183354;
        margin: 9px 0 12px 0;
      }

      .hero-banner-container__hero-banner-sections__section1__posts__top-posts__mid__icons {
        justify-content: flex-start;
      }
    }

    &__card-02 {
      border-right: 1px solid #DFDFDF;
      padding-right: 19px;

      img {
        margin-bottom: 11px;
      }

      p {
        color: #6D757F;

      }

      h3 {
        color: #183354;
        margin: 9px 0 12px 0;
      }

      .hero-banner-container__hero-banner-sections__section1__posts__top-posts__mid__icons {
        justify-content: flex-start;
      }
    }

    &__card-03 {
      border-right: 1px solid #DFDFDF;
      padding-right: 19px;

      img {
        margin-bottom: 11px;
      }

      p {
        color: #6D757F;

      }

      h3 {
        color: #183354;
        margin: 9px 0 12px 0;
      }

      .hero-banner-container__hero-banner-sections__section1__posts__top-posts__mid__icons {
        justify-content: flex-start;
      }
    }

    &__card-04 {

      img {
        margin-bottom: 11px;
      }

      p {
        color: #6D757F;

      }

      h3 {
        color: #183354;
        margin: 9px 0 12px 0;
      }

      .hero-banner-container__hero-banner-sections__section1__posts__top-posts__mid__icons {
        justify-content: flex-start;
      }
    }
  }
}

.news-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &__world-top-news {
    padding-right: 20px;

    &__head {
      img {
        width: 970px;
        margin-top: 16px;
      }
    }

    &__sport {
      margin-top: 30px;
      display: flex;
      column-gap: 40px;

      p {
        color: #6D757F;
      }

      .para {
        color: #6D757F;
        margin: 15px 0px;
      }

      h2 {
        color: #183354;
        margin: 11px 0px;
      }

      span {
        color: #183354;
        padding: 11px 20px;
        display: inline-block;
        border: 1px solid #DFDFDF;
      }

    }

    &__other-sections {
      margin-top: 40px;
      display: flex;
      column-gap: 25px;

      &__description {
        p {
          color: #6D757F;
        }

        h3 {
          color: #183354;
          margin: 6px 0px 10px 0px;
        }
      }

      &__politics {
        display: flex;
        column-gap: 10px;


        img {
          width: 100px;
          height: 100px;
        }
      }
    }

    &__last-image {
      margin: 50px 0px;
    }

    &__sports{
      &__sections{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 95px;
      }

      &__swimming{
        img{
          margin-bottom: 15px;
        }

        p{
          color: #6D757F;
        }
        
        h3{
          margin-top: 5px;
          margin-bottom: 10px;
          color: #183354;
          font-size: 22px;
        }
      }

       &__other-sports{
        display: flex;
        flex-direction: column;
        row-gap: 30px;

          &__basket-ball{
            display: flex;
            column-gap: 15px;

            p{
              color: #6D757F;
            }
            h3{
              color: #183354;
              margin: 6px 0px 12px 0px;
            }
                        
          }
        }
    }
  }

  &__daily-news {
    &__slide-container {
      border-left: 1px solid #DFDFDF;
      padding-left: 20px;
    }

    &__form {
      background-color: #183354;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      text-align: center;

      &__items {
        margin: 40px 30px 50px 30px;
      }

      &__last-term {
        display: flex;
        color: #7488A1;

        .small-div {
          width: 18px;
          height: 18px;
          border: 1px solid #7488A1;
          border-radius: 3px;
        }

        p {
          font-size: 13px;
        }
      }

      h3 {
        margin-bottom: 10px;
      }

      .email {
        padding: 16px 20px;
        border: none;
        border-radius: 5px;
        color: #6D757F;
        text-align: center;
        margin-top: 10px;
      }

      .subscribe {
        padding: 16px 20px;
        border: none;
        border-radius: 5px;
        color: white;
        text-align: center;
        background-color: #F4796C;
        margin-top: 33px;
        margin-bottom: 15px;
      }
    }

   &__border-img{
    img{
      margin: 40px 0px 15px 0px;
    }
   } 

   &__card-01{
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 20px;

    img{
      margin: 20px 0px;
    }

    h3{
      margin: 5px 0px 15px 0px;
    }

    .fa-calendar{
      padding-bottom: 20px;
    }
   }

   &__card-02{
    border-bottom: 1px solid #DFDFDF;

    p{
      color: #6D757F;
    }

    h3{
      color: #183354;
      margin: 5px 0px 16px 0px;
    }

    .fa-calendar{
      margin-bottom: 21px;
    }
   }

   &__last-img{
    margin-top: 40px;
   }
  }
}